a {
    text-decoration: none;
}

:root {
    /* 颜色变量 */
    --color-acfun: rgb(253, 76, 93);
    --color-acfun-transparent: rgba(253, 76, 93, 0.85);
    --color-acfun-light: rgb(255, 237, 238);

    --color-gray-0: rgb(104, 104, 104);
    --color-gray-1: rgb(153, 153, 153);
    --color-gray-1-transparent: rgba(153, 153, 153, 0.85);
    --color-gray-2: rgb(173, 173, 173);
    --color-gray-3: rgb(228, 228, 228);
    --color-gray-4: rgb(238, 238, 238);
    --color-white-transparent: rgba(255, 255, 255, 0.9);

    --color-danmaku-white: rgba(255, 255, 255, 1);
    --color-danmaku-yellow: rgba(255, 255, 0, 1);
    --color-danmaku-blue: rgba(0, 0, 255, 1);
    --color-danmaku-red: rgba(255, 0, 0, 1);
    --color-danmaku-green: rgba(0, 255, 0, 1);
    --color-danmaku-purple: rgba(128, 0, 128, 1);
    --color-danmaku-orange: rgba(255, 165, 0, 1);
    --color-danmaku-pink: rgba(255, 192, 203, 1);
    --color-danmaku-brown: rgba(165, 42, 42, 1);
    --color-danmaku-gray: rgba(128, 128, 128, 1);
    --color-danmaku-black: rgba(0, 0, 0, 1);

    /* 阴影 */
    --shadow-0: 0px 2px 2px 1px rgba(0, 0, 0, 0.04);
    --shadow-1: 0px 2px 2px 1px rgba(0, 0, 0, 0.08);
}
