/* 整体 */
.titlebar-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    margin-top: 4px;
    margin-bottom: 4px;
}
#left-content, #center-content, #right-content {
    display: flex;
    flex: 1;
    align-items: center;
    /* min-height: 44px; */
}
#left-content {
    justify-content: flex-start;
}
#left-content > *:first-child {
    margin-left: 50px;
}
#center-content {
    justify-content: center;
}
#right-content {
    justify-content: right;
}
#right-content > *:last-child {
    margin-right: 50px;
}


/* 左边 */
.extension {
    display: flex;
    align-items: center;
}
.extension-icon {
    width: 18px;
    height: 18px;
    color:rgb(253, 76, 93);
}
.extension-text {
    font-size: 14px;
    color: black;
}
.text:hover {
    color:rgb(253, 76, 93);
}

#shop-icon {
    margin-left: 8px;
    margin-right: 0px;
}
#camera-icon {
    margin-left: 8px;
    margin-right: 2px;
}


/* 中间 */
#center-content > * {
    position: relative;
    display: flex;
    align-items: center;
}

#search {
    width: 70%;
    height: 90%;
}
#input {
    width: 100%;
}
:deep(.el-input__wrapper) {
    border-radius: 16px;
}
/* .input-area {
    width: 100%;
    background-image: transparent;
    background-color: transparent;
    border: none;
    outline: none;

    padding-left: 16px;
}
.input-button {
    background-color: transparent;
    border: none;
    margin-right: 4px;
}
.input-button-icon {
    width: 16px;
    height: 16px;
    color: rgb(194, 198, 206);
} */

#search-result > * > hr {
    border: none;
    height: 1px;
    background-color: rgb(173,173,173);
    margin-left: 10px;
    margin-right: 10px;
}

#result-history-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#result-history-title > span {
    font-size: 12.5px;
}
#result-history-button-list{
    margin-left: 10px;
    margin-right: 10px;
}
.result-history-button {
    margin: 0px 12px 0px 0px;
    transition: none;
}
:deep(.result-history-button > span > span) {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
:deep(.result-history-button:hover > span) {
    color: rgb(253, 76, 93);
}
#result-history-clear-button:hover {
    color: rgb(253, 76, 93);
    cursor: pointer;
}
:deep(.result-history-button:hover) {
    background-color: white;
    border-color: rgb(220, 223, 230);
}

#result-hotsearch-title {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#result-hotsearch-title > span {
    font-size: 12.5px;
}
#result-hotsearch-list {
    margin-bottom: 10px;
}
.result-hotsearch-item {
    height: 32px;
    line-height: 32px;
    
    padding-left: 10px;
    padding-right: 10px;
}
.result-hotsearch-item > span {
    font-size: 14px;
}
.result-hotsearch-item:nth-child(-n+3) {
    color: rgb(253, 76, 93);
    font-weight: 500;
}
.result-hotsearch-item:nth-child(n+4) {
    color: #999999;
}
.result-hotsearch-item:hover {
    cursor: pointer;
    background-color: rgb(255, 237, 238);
    span {
        color: rgb(253, 76, 93);
        font-weight: 500;
    }
}
.result-hotsearch-item-idx {
    display: inline-block;
    width: 24px;
    margin-right: 8px;
    text-align: center;
}


/* 右边 */
#right-content > * {
    margin-left: 8px;
    margin-right: 8px;

    position: relative;
    display: flex;
    align-items: center;
}
#right-content > * > *:first-child {
    cursor: pointer;
}
.mini-icon {
    width: 18px;
    height: 18px;
    color: rgb(173,173,173);
}

#avatar > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#user-info > div {
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

#user-info-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user-info-space-name {
    display: inline;

    font-size: 14px;
    font-weight: 400;
}
#user-info-space-name:hover {
    cursor: pointer;
    color: rgb(253, 76, 93);
}
#user-info-space-exit {
    display: inline flex;
    color: rgb(173,173,173);
    align-items: center;
}
#user-info-space-exit > svg {
    width: 12px;
    height: 12px;
}
#user-info-space-exit > span {
    font-size: 13px;
    line-height: 16px;
    margin-left: 3px;
}
#user-info-space-exit:hover {
    cursor: pointer;
}

#user-info-acbi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user-info-acbi-left {
    display: flex;
    align-items: center;
}
#user-info-acbi-acbiimg {
    width: 12px;
    height: 12px;
    transform: translateY(2px);
}
#user-info-acbi-number {
    cursor: default;
    font-size: 12px;
    margin-left: 3px;
}
#user-info-acbi-recharge {
    display: inline;

    font-size: 14px;
}
#user-info-acbi-recharge:hover {
    cursor: pointer;
    color: rgb(253, 76, 93);
}
#user-info-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: rgb(238 ,238, 238);
}
#user-info-more:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

#message-info {
    box-sizing: border-box;
    padding: 10px;
}
#message-info > div {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 13px;
}
#message-info > div:hover {
    cursor: pointer;
    color: rgb(253, 76, 93);
}

#upload-button {
    color: rgb(255,251,251);
}
#upload-button-text {
    margin-left: 4px;
}


/* 浮动块 */
.floating-block {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 6px 6px gray;
    border-radius: 6px;
    z-index: 1;

    transition-delay: 100ms; /* 添加这个是因为：当标题超出两行，hover显示title（tooltip）时，可能会出现BUG：由于鼠标移动到tootip上，导致观看历史失去了hover，自动收起 */
    
}

#search:focus-within #search-result{
    visibility: visible;
}
#search-result {
    width: 100%;
}

#phone:hover #app-download {
    visibility: visible;
}

#avatar:hover #user-info {
    visibility: visible;
}
#user-info {
    width: 220px;
}

#message:hover #message-info {
    visibility: visible;
}
#message-info {
    width: 220px;
}

#history:hover #history-info {
    visibility: visible;
}
#history-info {
    width: 340px;
}
#history-info-list {
    margin-top: 16px;
    height: 415px;
}
#history-info-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 20px 10px;
    height: 48px;
    border-radius: 8px;
    background-color: rgb(240, 241, 242);
    color: rgb(104, 104, 104);
}
#history-info-view-all:hover {
    cursor: pointer;
    color: black;
}

#updates:hover #updates-info {
    visibility: visible;
}
#updates-info {
    width: 340px;
}
#updates-info-list {
    margin-top: 16px;
    height: 455px;
}
#updates-info-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 20px 10px;
    height: 48px;
    border-radius: 8px;
    background-color: rgb(240, 241, 242);
    color: rgb(104, 104, 104);
}
#updates-info-view-all:hover {
    cursor: pointer;
    color: black;
}

#uploader:hover #uploader-info {
    visibility: visible;
}
#uploader-info {
    width: 73px;
}