/* 整体 */
.titlebar-content {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    height: 44px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: var(--shadow-0);
    background-color: white;
    z-index: 999;
}
#left-content,
#center-content,
#right-content {
    display: flex;
    flex: 1;
    align-items: center;
    /* min-height: 44px; */
}
#left-content {
    justify-content: flex-start;
}
#center-content {
    justify-content: center;
}
#right-content {
    justify-content: right;
}

/* 左边 */
.extension {
    display: flex;
    align-items: center;
}
.extension-icon {
    width: 18px;
    height: 18px;
    color: var(--color-acfun);
}
.extension-text {
    font-size: 14px;
    color: black;
}
.text:hover {
    color: var(--color-acfun);
}

#shop-icon {
    margin-left: 8px;
    margin-right: 0px;
}
#camera-icon {
    margin-left: 8px;
    margin-right: 2px;
}

/* 中间 */
#center-content > * {
    position: relative;
    display: flex;
    align-items: center;
}

#search {
    width: 70%;
    height: 90%;
}
#input {
    width: 100%;
}
:deep(.el-input__wrapper) {
    border-radius: 16px;
}

#search-result > * > hr {
    border: none;
    height: 1px;
    background-color: var(--color-gray-2);
    margin-left: 10px;
    margin-right: 10px;
}

#result-history-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#result-history-title > span {
    font-size: 12.5px;
}
#result-history-button-list {
    margin-left: 10px;
    margin-right: 10px;
}
.result-history-button {
    margin: 0px 12px 0px 0px;
    transition: none;
    /* border-color: var(--color-gray-3); */
}
:deep(.result-history-button > span > span) {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
:deep(.result-history-button:hover > span) {
    color: var(--color-acfun);
}
#result-history-clear-button:hover {
    color: var(--color-acfun);
    cursor: pointer;
}
:deep(.result-history-button:hover) {
    background-color: white;
    border-color: var(--color-gray-3);
}

#result-hotsearch-title {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#result-hotsearch-title > span {
    font-size: 12.5px;
}
#result-hotsearch-list {
    margin-bottom: 10px;
}
.result-hotsearch-item {
    height: 32px;
    line-height: 32px;

    padding-left: 10px;
    padding-right: 10px;
}
.result-hotsearch-item > span {
    font-size: 14px;
}
.result-hotsearch-item:nth-child(-n + 3) {
    color: var(--color-acfun);
    font-weight: 500;
}
.result-hotsearch-item:nth-child(n + 4) {
    color: var(--color-gray-1);
}
.result-hotsearch-item:hover {
    cursor: pointer;
    background-color: var(--color-acfun-light);
    span {
        color: var(--color-acfun);
        font-weight: 500;
    }
}
.result-hotsearch-item-idx {
    display: inline-block;
    width: 24px;
    margin-right: 8px;
    text-align: center;
}

/* 右边 */
#right-content > * {
    margin-left: 8px;
    margin-right: 8px;

    position: relative;
    display: flex;
    align-items: center;
}
#right-content > * > *:first-child {
    cursor: pointer;
}
.mini-icon {
    width: 18px;
    height: 18px;
    color: var(--color-gray-2);
}

#avatar > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
#user-info > div {
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

#user-info-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user-info-space-name {
    display: inline;

    font-size: 14px;
    font-weight: 400;
}
#user-info-space-name:hover {
    cursor: pointer;
    color: var(--color-acfun);
}
#user-info-space-exit {
    display: inline flex;
    color: var(--color-gray-2);
    align-items: center;
}
#user-info-space-exit > svg {
    width: 12px;
    height: 12px;
}
#user-info-space-exit > span {
    font-size: 13px;
    line-height: 16px;
    margin-left: 3px;
}
#user-info-space-exit:hover {
    cursor: pointer;
}

#user-info-acbi {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user-info-acbi-left {
    display: flex;
    align-items: center;
}
#user-info-acbi-acbiimg {
    width: 12px;
    height: 12px;
    transform: translateY(2px);
}
#user-info-acbi-number {
    cursor: default;
    font-size: 12px;
    margin-left: 3px;
}
#user-info-acbi-recharge {
    display: inline;

    font-size: 14px;
}
#user-info-acbi-recharge:hover {
    cursor: pointer;
    color: var(--color-acfun);
}
#user-info-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: var(--color-gray-4);
}
#user-info-more:hover {
    cursor: pointer;
    background-color: var(--color-gray-3);
}

#message-info {
    box-sizing: border-box;
    padding: 10px;
    width: 220px;
}
#message-info > div {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 13px;
}
#message-info > div:hover {
    cursor: pointer;
    color: var(--color-acfun);
}

#upload-button {
    color: white;
}
#upload-button-text {
    margin-left: 4px;
}

#uploader-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}
#uploader-info > div {
    height: 30px;
    font-size: 13px;
}
#uploader-info > div:hover {
    cursor: pointer;
    color: var(--color-acfun);
}

/* 浮动块 */
.floating-block {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    background-color: var(--color-white-transparent);
    box-shadow: 2px 6px 6px gray;
    border-radius: 6px;

    transition-delay: 100ms; /* 添加这个是因为：当标题超出两行，hover显示title（tooltip）时，可能会出现BUG：由于鼠标移动到tootip上，导致观看历史失去了hover，自动收起 */
}

#search:focus-within #search-result {
    visibility: visible;
}
#search-result {
    width: 100%;
}

#phone:hover #app-download {
    visibility: visible;
}

#avatar:hover #user-info {
    visibility: visible;
}
#user-info {
    width: 220px;
}

#message:hover #message-info {
    visibility: visible;
}

#history:hover #history-info {
    visibility: visible;
}
#history-info {
    padding-top: 16px;
    width: 340px;
}
#history-info-list {
    height: 415px;
}
#history-info-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 20px 10px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-gray-4);
    color: var(--color-gray-0);
}
#history-info-view-all:hover {
    cursor: pointer;
    color: black;
}

#updates:hover #updates-info {
    visibility: visible;
}
#updates-info {
    padding-top: 16px;
    width: 340px;
}
.live-stream-list-scrollbar {
    width: 320px;
    margin: 0 auto;
}
#live-stream-list {
    display: flex;
}
#updates-info-list-header {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#updates-info-list-header > * {
    display: inline-block;
}
#updates-info-list-header > span {
    flex: 2;
    font-size: 10px;
    text-align: center;
}
.fake-line {
    flex: 4;
    height: 1px;
    background-color: var(--color-gray-3);
    margin-left: 10px;
    margin-right: 10px;
}
#updates-info-list {
    height: 455px;
}
#updates-info-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 20px 10px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--color-gray-4);
    color: var(--color-gray-0);
}
#updates-info-view-all:hover {
    cursor: pointer;
    color: black;
}

#uploader:hover #uploader-info {
    visibility: visible;
}
#uploader-info {
    width: 73px;
}
